---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/nutrition?query=2.0%20Chicken%20lbs%200.5%20Cheese%20lbs%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - X-Api-Key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f15598c7-e5fa-4e74-a03e-9c331fcdcc4f
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - I1ORfFSFPHcFpzQ=
    body:
      encoding: UTF-8
      string: '[{"name": "chicken", "calories": 3784.9, "serving_size_g": 1700.0,
        "fat_total_g": 219.3, "fat_saturated_g": 62.2, "protein_g": 403.4, "sodium_mg":
        1228, "potassium_mg": 3045, "cholesterol_mg": 1566, "carbohydrates_total_g":
        0.8, "fiber_g": 0.0, "sugar_g": 0.0}, {"name": "cheese", "calories": 8933.5,
        "serving_size_g": 2267.96, "fat_total_g": 749.1, "fat_saturated_g": 429.2,
        "protein_g": 515.9, "sodium_mg": 15008, "potassium_mg": 10431, "cholesterol_mg":
        2271, "carbohydrates_total_g": 71.8, "fiber_g": 0.0, "sugar_g": 10.6}]'
  recorded_at: Sat, 29 Jul 2023 15:04:15 GMT
- request:
    method: post
    uri: https://beta4.api.climatiq.io/estimate
    body:
      encoding: UTF-8
      string: '{"emission_factor":{"activity_id":"waste_type_food_waste-disposal_method_landfilled","source":"EPA","region":"US","year":2022,"source_lca_activity":"end_of_life","data_version":"2.2"},"parameters":{"weight":3967.96,"weight_unit":"g"}}'
    headers:
      Authorization:
      - Authorization
      'Content-Type: ':
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"co2e":2.53687776979141,"co2e_unit":"kg","co2e_calculation_method":"ar4","co2e_calculation_origin":"source","emission_factor":{"name":"Food
        Waste - Landfilled","activity_id":"waste_type_food_waste-disposal_method_landfilled","id":"163972ef-d865-4bbe-ab3b-f8b2465cf825","access_type":"public","source":"EPA","source_dataset":"GHG
        Emission Factors Hub","year":2022,"region":"US","category":"Food and Organic
        Waste","source_lca_activity":"end_of_life","data_quality_flags":[]},"constituent_gases":{"co2e_total":2.53687776979141,"co2e_other":null,"co2":null,"ch4":null,"n2o":null},"activity_data":{"activity_value":0.004373927189295535,"activity_unit":"short
        ton"},"audit_trail":"selector"}'
  recorded_at: Sat, 29 Jul 2023 15:04:18 GMT
recorded_with: VCR 6.2.0
