---
http_interactions:
- request:
    method: get
    uri: https://trackapi.nutritionix.com/v2/search/instant?query=grape
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-App-Id:
      - 3a00d747
      X-App-Key:
      - dd87cc7895806bcadfa7efefac30e15f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31d7-v9Goo3DTGBTDRSfSr3/GLXy/aM4"
      Status:
      - 200 OK
      Surrogate-Control:
      - no-store
    body:
      encoding: ASCII-8BIT
      string: '{"common":[{"food_name":"grape","serving_unit":"grapes","tag_name":"grape","serving_qty":10,"common_type":null,"tag_id":"586","photo":{"thumb":"https://nix-tag-images.s3.amazonaws.com/586_thumb.jpg"},"locale":"en_US"},{"food_name":"grapes","serving_unit":"grapes","tag_name":"grape","serving_qty":10,"common_type":null,"tag_id":"586","photo":{"thumb":"https://nix-tag-images.s3.amazonaws.com/586_thumb.jpg"},"locale":"en_US"},{"food_name":"red
        grape","serving_unit":"grapes","tag_name":"red grapes","serving_qty":10,"common_type":null,"tag_id":"7938","photo":{"thumb":"https://nix-tag-images.s3.amazonaws.com/7938_thumb.jpg"},"locale":"en_US"},{"food_name":"grapeseed","serving_unit":"tablespoon","tag[...]
