---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?apiKey=apiKey&number=10&query=bruschetta,%20stuffed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '1.02'
      X-Api-Quota-Used:
      - '55.74000000000001'
      X-Api-Quota-Left:
      - '94.25999999999999'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":636356,"title":"Bruschetta Stuffed Potatoes","image":"https://spoonacular.com/recipeImages/636356-312x231.jpg","imageType":"jpg"},{"id":636355,"title":"BRUSCHETTA
        STUFFED PORTOBELLOS","image":"https://spoonacular.com/recipeImages/636355-312x231.jpg","imageType":"jpg"}],"offset":0,"number":10,"totalResults":2}'
  recorded_at: Mon, 31 Jul 2023 00:28:24 GMT
recorded_with: VCR 6.2.0
