---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/nutrition?query=1%20lbs%20Chicken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - X-Api-Key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 21e6df1e-ec5d-486c-a977-517ff0adea95
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - IzLnCHpUvHcF0Kg=
    body:
      encoding: UTF-8
      string: '[{"name": "chicken", "calories": 1009.9, "serving_size_g": 453.592,
        "fat_total_g": 58.5, "fat_saturated_g": 16.6, "protein_g": 107.6, "sodium_mg":
        327, "potassium_mg": 812, "cholesterol_mg": 417, "carbohydrates_total_g":
        0.2, "fiber_g": 0.0, "sugar_g": 0.0}]'
  recorded_at: Sat, 29 Jul 2023 00:12:16 GMT
recorded_with: VCR 6.2.0
