---
http_interactions:
- request:
    method: post
    uri: https://beta4.api.climatiq.io/estimate
    body:
      encoding: UTF-8
      string: '{"emission_factor":{"activity_id":"waste_type_food_waste-disposal_method_landfilled","source":"EPA","region":"US","year":2022,"source_lca_activity":"end_of_life","data_version":"2.2"},"parameters":{"weight":4000,"weight_unit":"g"}}'
    headers:
      'Content-Type: ':
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized","error_code":null,"message":"No header named
        ''Authorization'' was found"}'
  recorded_at: Sat, 29 Jul 2023 22:14:11 GMT
recorded_with: VCR 6.2.0
