---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/nutrition?query=2%20lbs%20chicken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - X-Api-Key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d5b321dd-fe0a-4ce5-b944-274e0b95eb95
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - I2CmrGwivHcF5uA=
    body:
      encoding: UTF-8
      string: '[{"name": "chicken", "calories": 2019.8, "serving_size_g": 907.184,
        "fat_total_g": 117.0, "fat_saturated_g": 33.2, "protein_g": 215.3, "sodium_mg":
        655, "potassium_mg": 1625, "cholesterol_mg": 835, "carbohydrates_total_g":
        0.4, "fiber_g": 0.0, "sugar_g": 0.0}]'
  recorded_at: Sat, 29 Jul 2023 21:01:30 GMT
recorded_with: VCR 6.2.0
