---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/nutrition?query=2%20lbs%20chicken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - X-Api-Key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6fa04ae1-0f46-4f75-96f5-cbd6038c8d27
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - I73x0GkZPHcFjdg=
    body:
      encoding: UTF-8
      string: '[{"name": "chicken", "calories": 2019.8, "serving_size_g": 907.184,
        "fat_total_g": 117.0, "fat_saturated_g": 33.2, "protein_g": 215.3, "sodium_mg":
        655, "potassium_mg": 1625, "cholesterol_mg": 835, "carbohydrates_total_g":
        0.4, "fiber_g": 0.0, "sugar_g": 0.0}]'
  recorded_at: Mon, 31 Jul 2023 15:29:02 GMT
recorded_with: VCR 6.2.0
